body{
    max-width: 900px;
    margin: auto;
    padding: 1em;
}

/** Elements **/

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

blockquote span{
    margin-left: 20%;
}
/*
h1,h2,h3,h4,h5,h6{
}
 */
pre{
    padding: 1em;
    border-radius: 10px;
}


/** Header **/
header h1{
    font-size: 250%;
}

header h1 span{
    color: rgb(58, 126, 126);
}
/*
#site-search{
}
#header-quote{
    margin: none;
}
*/

/** Image Gallery **/
#img-gallery img{
    max-width: 240px;
    vertical-align: top;
    display: none;
}


/** Nav Bar **/
nav{
    padding: 5px;
    margin: auto;
}

nav a{
    margin: 5px;
}

/** main section **/
main{
    padding: 10px;
    max-width: 900px;
}

main img{
	display: block;
	margin: 0 auto;
    max-width: 700px;
}

.blog-heading{
    text-align: center;
}


/** List Blog Page **/
#blog-list{
	padding: 5px;
	margin: 5px;
}

.subtitle{
	font-style: italic;
}


/** Footer **/
footer{
    padding: 20px;
}


/** First Media Query **/
@media only screen and (max-width: 1700px) {
    body{
	max-width: 1000px;
	margin: auto;
    }
    header{
	margin: auto;
	text-align: center;
    }
    #img-gallery{
	display: none;
    }
    nav{
	padding: 1px;
	margin: 2px;
    }
    #header-quote{
	line-height: 1.5em;
	font-size: 130%;
    }
}


/** Second Media Query **/
@media only screen and (max-width: 600px) {
    body{
	padding: 0.5em;
	font-size: 85%;
    }
    header h1{
	font-size: 180%;
    }
    h1{
	font-size: 140%;
    }

    nav{
	padding: 1px;
	margin: 2px;
	font-size: 70%;
    }

    #header-quote{
	line-height: 1.2em;
	font-size: 90%;
    }

    #img-gallery{
	max-width: 60px;
	display: none;
    }
    main img{
	max-width: 250px;
    }
}
